body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: grey;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}


/*
*
header content
*
*/

header {
  display: flex;
  background-color: darkblue;
  color: orange;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 10vh;
}

.login__link {
  padding-top: 2vh;
  margin-left: auto;
}

/*
*
main content
*
*/

main {
  background-color: lightblue;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 10px #303030;
}

.flash {
  width: 100%;
  padding-bottom: 2.5%;
  display: block;
  margin-right: auto;
}

.categories {
  border-right-style: solid;
  border-right-color: grey;
}

.items {
  padding-left: 5%;
}

.categories, .items {
  max-width: 50%;
  min-width: 40%;
}

/*
*
displaying sport items with CRUD
*
*/

.item__container {
  display: flex;
  flex-wrap: wrap;
}

.item__title {
  color: darkblue;
  width: 100%;
}

.item__text {
  width: 80%;
}

.sport__text {
  width: 100%;
}

.sport__item__link {
  font-size: 1.2em;
}

.descriptionbox {
  width: 300px;
  height: 80px;
}
